<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="TopBarController as topBar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">SIDM</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:void(0)" ng-click="topBar.logout()">Wyloguj</a></li>

        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="main"
             ng-controller="EditPlaceController as editPlaceCtrl">
            <form name="editPlaceForm" ng-submit="editPlaceCtrl.editPlace()" role="form">
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Dane">
                            <div style="margin-top: 25px" class="form-group"
                                 ng-class="{ 'has-error': editPlaceForm.placeName.$dirty && editPlaceForm.placeName.$error.required }">
                                <label for="placeName">Nazwa:</label>
                                <input type="text" name="placeName" id="placeName" class="form-control"
                                       ng-model="place.placeName" required/>
                            </div>
                            <div class="form-group"
                                 ng-class="{ 'has-error': editPlaceForm.placeDescription.$dirty && editPlaceForm.placeDescription.$error.required }">
                                <label for="placeDescription">Opis:</label>
                                <textarea class="form-control" rows="4" maxlength="280"
                                          id="placeDescription" ng-model="place.placeDescription"
                                          required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="placeArea">Obszar</label>
                                <select class="form-control" ng-model="place.placeArea" id="placeArea"
                                        name="placeArea"
                                        ng-options="o as o for o in areas">
                                </select>
                            </div>
                        </md-tab>

                        <md-tab label="Reklama">
                            <div style="margin-top: 25px" class="form-group"
                                 ng-class="{ 'has-error': editPlaceForm.advertContent.$dirty && editPlaceForm.advertContent.$error.required }">
                                <label for="advertContent">Treść:</label>
                                <input type="text" name="advertContent" id="advertContent" class="form-control"
                                       ng-model="place.advertContent"/>
                            </div>
                        </md-tab>

                        <md-tab label="Event">
                            <div style="margin-top: 25px" class="form-group"
                                 ng-class="{ 'has-error': editPlaceForm.eventName.$dirty && editPlaceForm.eventName.$error.required }">
                                <label for="eventName">Nazwa:</label>
                                <input type="text" name="eventName" id="eventName" class="form-control"
                                       ng-model="place.eventName"/>
                            </div>
                            <div class="form-group"
                                 ng-class="{ 'has-error': editPlaceForm.eventContent.$dirty && editPlaceForm.eventContent.$error.required }">
                                <label for="eventContent">Treść:</label>
                                <input type="text" name="eventContent" id="eventContent" class="form-control"
                                       ng-model="place.eventContent"/>
                            </div>
                            <div class="form-group"
                                 ng-class="{ 'has-error': editPlaceForm.eventEnd.$dirty && editPlaceForm.eventEnd.$error.required }">
                                <label for="eventEnd">Nazwa:</label>
                                <input type="date" name="eventEnd" id="eventEnd" class="form-control"
                                       ng-model="place.eventEnd"/>
                            </div>
                        </md-tab>
                    </md-tabs>
                </md-content>
                <div class="form-actions" style="text-align: right; margin-top: 10px">
                    <button type="submit" ng-disabled="editPlaceForm.$invalid || editPlaceForm.dataLoading"
                            class="btn btn-primary">Zapisz
                    </button>
                    <button ng-click="editPlaceCtrl.back()"
                            class="btn btn-primary">Powrót
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>