<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#login">SIDM</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="main">
            <div id="namespaces" class="panel panel-default" ng-app="app"
                 style="margin-top: 0px; margin-bottom: 0px; overflow-y: auto; height: 68vh"
                 ng-controller="PhotoListController as photoListCtrl">

                <table class="table">
                    <tr>
                        <td class="text-center" style="vertical-align:middle" width="5%"><b>#</b></td>
                        <td class="text-center" style="vertical-align:middle" width="30%"><b>URL</b></td>
                        <td class="text-center" style="vertical-align:middle" width="10%"><b></b></td>
                    </tr>
                    <tr ng-repeat="x in names">
                        <td class="text-center" style="vertical-align:middle">{{ $index + 1 }}</td>
                        <td class="text-center" style="vertical-align:middle"><a target="_blank" href="{{ x.URL }}">{{ x.URL }}</a></td>
                        <td class="text-center" style="vertical-align:middle">
                            <button class="btn btn-xs" ng-click="photoListCtrl.delete(x)">Usuń
                            </button>
                        </td>
                    </tr>

                </table>
            </div>
            <div ng-controller="PhotoListController as photoListCtrl">
                <button style="margin-top: 10px" class="btn btn-primary" ng-click="photoListCtrl.addPhoto()">Dodaj zdjęcie
                </button>
                <button style="margin-top: 10px" class="btn btn-primary"  ng-click="photoListCtrl.back()" class="btn btn-primary">Powrót
                </button>
            </div>

        </div>
    </div>
</div>
