<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#login">SIDM</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="main"
             ng-controller="PlaceStatisticsController as placeStatCtrl">
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="7 dni">
                        <div class="container" style="margin-top: 15px">
                            <table class="table table-bordered">
                                <th colspan="2">{{name}}</th>
                                <tr>
                                    <td>Ilość odwiedzin:</td>
                                    <td>{{seven.visits}}</td>
                                </tr>
                                <tr>
                                    <td>Łączny czas pobytów:</td>
                                    <td>{{seven.sumTime}} h</td>
                                </tr>
                                <tr>
                                    <td>Średni czas pobytu:</td>
                                    <td>{{seven.avgTime}} h</td>
                                </tr>
                            </table>
                        </div>
                    </md-tab>
                    <md-tab label="14 dni">
                        <div class="container" style="margin-top: 15px">
                            <table class="table table-bordered">
                                <th colspan="2">{{name}}</th>
                                <tr>
                                    <td>Ilość odwiedzin:</td>
                                    <td>{{fourteen.visits}}</td>
                                </tr>
                                <tr>
                                    <td>Łączny czas pobytów:</td>
                                    <td>{{fourteen.sumTime}} h</td>
                                </tr>
                                <tr>
                                    <td>Średni czas pobytu:</td>
                                    <td>{{fourteen.avgTime}} h</td>
                                </tr>
                            </table>
                        </div>
                    </md-tab>
                    <md-tab label="30 dni">
                        <div class="container" style="margin-top: 15px">
                            <table class="table table-bordered">
                                <th colspan="2">{{name}}</th>
                                <tr>
                                    <td>Ilość odwiedzin:</td>
                                    <td>{{thirty.visits}}</td>
                                </tr>
                                <tr>
                                    <td>Łączny czas pobytów:</td>
                                    <td>{{thirty.sumTime}} h</td>
                                </tr>
                                <tr>
                                    <td>Średni czas pobytu:</td>
                                    <td>{{thirty.avgTime}} h</td>
                                </tr>
                            </table>
                        </div>
                    </md-tab>
                </md-tabs>
            </md-content>
            <button style="margin-top: 10px" class="btn btn-primary"   ng-click="placeStatCtrl.back()"
                    class="btn btn-primary">Powrót
            </button>
        </div>
    </div>
</div>
